<launch>
    <param name="/use_sim_time" value="true" />
    <rosparam file="$(find gazebo_multi_robot_spawn)/goal_params.yaml"/>

    <!-- Launch the Python script to spawn robots -->
    <node name="gazebo_robot_spawner" pkg="gazebo_multi_robot_spawn" type="goal_formation.py" output="screen" />
    
    <node name="delayed_launch" pkg="gazebo_multi_robot_spawn" type="goal.sh" args="5" output="screen"/>

    

</launch>